@use './variables' as *;

//Padding mixin
@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

//Margin mixin
@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}


@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}


@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}


@mixin responsive-font-size($font-size) {
  font-size: $font-size;

  @media screen and (min-width: $small-screen) {
    font-size: $font-size * 1.1; // Adjust the scaling factor as needed
  }

  @media screen and (min-width: $tablet-breakpoint) {
    font-size: $font-size * 1.2; // Adjust the scaling factor as needed

  }

  @media screen and (min-width: $desktop-breakpoint) {
    font-size: $font-size * 1.3; // Adjust the scaling factor as needed
  }


}


@mixin page-header {
  font-size: 1.5rem;
  line-height: 2rem;
  ;
  font-weight: 700;

  @include tablet {
    font-size: 2.0625rem;
    line-height: 2.75rem;
    font-weight: 700;
  }

}



// Subheader
@mixin subheader {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 700;
}



// LABELS & BUTTONS
@mixin labels-buttons {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}



// SECTION HEADER (small)
@mixin section-header-small {
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: 700;

  @include tablet {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }

}

// Subheader (small)
@mixin subheader-small {
  font-size: .8125rem;
  line-height: 1.125rem;
  font-weight: 400;

  @include tablet {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 700;

  }
}

// Body Copy (small)
@mixin body-copy-small {
  font-size: .8125rem;
  line-height: 1.125rem;
  font-weight: 700;

  @include tablet {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

@mixin body-copy-large {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 400;
}