

@font-face {
    font-family:"Avenir";
    src: url("/src/assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"),
    url("/src/assets/fonts/Alternative_files/AvenirNextLTPro.ttf") format("tff");
    font-weight:400;
}

@font-face {
    font-family:"Avenir";
    src: url("/src/assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"),
    url("/src/assets/fonts/Alternative_files/AvenirNextLTProBold.ttf") format("ttf");
    font-weight: 700;
}



