@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.new-video {
    @include margin(1.5rem,1rem, 1rem, 1rem);

    @include tablet{
        @include margin(2.25rem,1.5rem, 1.5rem, 1.5rem);
        @include padding(2.25rem, 1.5rem,1.5rem,1.5rem);
        };
    
    &__img {
        
    }
}

.next-video {
    display: flex;
    flex-direction: column;
    @include margin(1.5rem,1rem, 1rem, 1rem);

    @include tablet{
        @include margin(2.25rem,1.5rem, 1.5rem, 1.5rem);
        @include padding(2.25rem, 1.5rem,1.5rem,1.5rem);
        };
    
    &__img { 
        &--item {
            width: 100%;
        }
    }

    &__text {}
}