@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.article-container {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
        border-left: 1px solid $mercury;
    }



}

.right {
    @include desktop {
        width: 50%;
    }
}