@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;


.comment {
    display: flex;
    flex-direction: column;
    @include margin(1.5rem, 1rem, 1rem, 1rem);

    @include tablet {
        @include margin(2.25rem, 1.5rem, 1.5rem, 1.5rem);
        @include padding(2.25rem, 1.5rem, 1.5rem, 1.5rem);
    }

    &__profile {
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        background-color: $mercury;
    }

    &__content {
        font-family: Avenir;

        @mixin body-copy-small {
            font-size: .8125rem;
            line-height: 1.125rem;
            font-weight: 700;

            @include body-copy-small;

            @include tablet {
                @include body-copy-large;
            }

        }
    }

    &__likes {}

    &__name {
        font-family: Avenir;
        font-weight: bold;
        @include body-copy-small;

        @include tablet {
            font-weight: bold;
            @include body-copy-large;
        }

    }

    &__title {}

    &__new {
        display: flex;
        justify-content: space-between;
    }
}

.button {
    background-color: $brainflix-blue;
    height: 7vh;
    width: 100%;
    border-radius: .25rem;
    color: $alabaster;

    @include tablet {
        height: 7vh;
        width: 9.375rem;
    }

    &__comment {}

    &__comment-icon {}

    &--hidden {}
}



.comments {
    border-bottom: 1px solid $mercury;

    &__form-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: .75rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 1rem;
        }
    }

    &__input {
        @include mobile {
            width: 15rem;
            height: 2.5rem;
        }

        @include tablet {
            width: 100%;
        }
    }

    &__label {}
}